{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
function doSubmit() {
document.getElementById("buttonId").disabled=true;
document.getElementById("formId").submit();
}
</script>
<form action="{{ url_for('choose') }}" method=post class=add-entry enctype='multipart/form-data' id="formId">

	<h3>选择:</h3>
		<dd>新建:<input type=radio checked =checked name=choose value=create >|
		更新:<input type=radio name=choose value=update>|
		还原:<input type=radio name=choose value=reduction></dd>
	<input type=submit value=下一步 onclick="doSubmit()" id="buttonId">
  </form>

{% endblock %}
